Dockerfile

# development
.git
.gitignore
.editorconfig
.eslintignore
.prettierrc.json
.dockleignore
.tool-versions
.env

# logs
logs
*.log

# python
__pycache__
*.pyc
*.pyo
*.pyd
.Python
env
pip-log.txt
pip-delete-this-directory.txt
.tox
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.log
.git
.mypy_cache
.pytest_cache
.hypothesis

# js release artefacts
**/yarn.lock
