# shellcheck disable=SC2148

# CI/CD
# uses ci/cd environment makefile with overrides from .envrc

export ENV_NAME=dev
export AWS_ACCESS_KEY_ID=does-not-matter
export AWS_SECRET_ACCESS_KEY=does-not-matter

# HELM
# uses overrides from ci/cd environment values.yaml

export KUBECONFIG
KUBECONFIG="$(expand_path kube-config.yaml):${HOME}/.kube/config"

# DOCKER-COMPOSE
# uses .env

export COMPOSE_PROJECT_NAME=pybossa_app
